body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	height: 102vh;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 2fr 1fr 1fr;
	place-items: center;
}

footer {
	grid-row: 4;
}

header {
	place-self: end;
}

p {
	place-self: start;
}

.headline {
	font-size: 6rem;
	margin: 0;

	> span:first-of-type {
		font-size: 4rem;
		margin: none;
	}
}

nav .quick-navigation {
	list-style-type: ">>  ";

	li {
		padding-bottom: 0.5rem;
		color: rgba(255, 255, 255, 0.5);
		transition: 0.5s;

		&:hover {
			color: rgba(255, 255, 255, 1);
			transition: 0.5s;
		}

		a {
			text-decoration: none;
			background: linear-gradient(currentColor 0 0) bottom left/
				var(--underline-width, 0%) 0.1em no-repeat;

			padding: 0.2rem;
			transition: background-size 0.5s;

			&:hover {
				--underline-width: 100%;
			}
		}
	}
}

aside {
	overflow-y: scroll;
	margin-top: -17.5vh;

	article {
		width: 20vw;
		float: right;

		section {
			width: 20vw;
			height: 25vw;
			margin: 2rem 0rem;

			background-color: rgb(43, 48, 53, 0.333);
			border: 3px solid rgb(50, 55, 60, 0.75);
			transition: 0.5s;

			&:hover {
				opacity: 0.75;
				filter: brightness(1.5);
				transition: 0.5s;
			}
		}
	}

	article:nth-child(2) {
		width: 20vw;
		float: right;
		margin-top: 12.5vh;
		margin-right: 2rem;
	}
}

@media only screen and (min-width: 1400px) {
	#cards-desktop {
		display: block;
	}

	#main-desktop {
		display: grid;
	}

	#cards-mobile,
	#main-mobile {
		display: none;
	}
}

.make-cool {
	background: rgba(0, 0, 0, 0) -webkit-gradient(
			linear,
			left top,
			right top,
			from(#90f3b3),
			color-stop(#90e9f3),
			color-stop(#909ff3),
			color-stop(#cc90f3),
			color-stop(#f390d1),
			color-stop(#f39a90),
			color-stop(#f3e590),
			to(#b8f390)
		) repeat scroll 0% 0%/200% 200%;
	background: rgba(0, 0, 0, 0)
		linear-gradient(
			90deg,
			#90f3b3,
			#90e9f3,
			#909ff3,
			#cc90f3,
			#f390d1,
			#f39a90,
			#f3e590,
			#b8f390
		)
		repeat scroll 0% 0%/200% 200%;
	background-clip: border-box;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;

	&:hover {
		-webkit-animation: GradientAnimation 2s ease infinite;
		animation: GradientAnimation 2s ease infinite;
	}
}
