/** Make articles flow under each other on mobile **/

@media only screen and (max-width: 1400px) {
	html body main#main-mobile {
		height: fit-content !important;
		margin-top: 3rem !important;
		padding-top: 0 !important;
		display: initial;
	}

	#cards-desktop,
	#main-desktop {
		display: none;
	}

	body {
		display: flex;
		flex-direction: column;
	}

	div article section {
		margin: 2rem 0rem;

		background-color: rgb(43, 48, 53, 0.333);
		border: 3px solid rgb(50, 55, 60, 0.75);
		transition: 0.5s;

		&:hover {
			opacity: 0.75;
			filter: brightness(1.5);
			transition: 0.5s;
		}
	}

	.headline {
		font-size: 3rem;
		margin: 0;
		padding: 0;

		> span:first-of-type {
			font-size: 2rem;
			margin: none;
		}
	}

	#contact-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

@media only screen and (max-width: 768px) {
	div article {
		margin-top: 2rem;
	}
}
