/** Make articles flow under each other on mobile **/

@media only screen and (max-width: 1400px) {
	#cards-desktop,
	#main-desktop {
		display: none;
	}

	body {
		display: flex;
		flex-direction: column;
	}

	div {
		margin-top: 25vh;

		article section {
			margin: 2rem 0rem;

			background-color: rgb(43, 48, 53, 0.333);
			border: 3px solid rgb(50, 55, 60, 0.75);
			transition: 0.5s;

			&:hover {
				opacity: 0.75;
				filter: brightness(1.5);
				transition: 0.5s;
			}
		}
	}

	.headline {
		font-size: 3rem;
		margin: none;
		padding: 0;

		> span:first-of-type {
			font-size: 2rem;
			margin: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	div {
		margin-top: 25vh;

		article {
			margin-top: 2rem;
		}
	}
}
