* {
	font-family: "M PLUS Rounded 1c", sans-serif;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.text-justify {
	text-align: justify;
}

.fs-7 {
	font-size: 0.9rem;
}

.tall-lines {
	line-height: 2rem;
}

.special-link {
	color: #f6f9ff;
}

.justify-self-center {
	justify-self: center;
}

.offsite-icon {
	width: 1.75rem;
	height: 1.75rem;
}

.offsite-link {
	text-decoration: none;
	color: inherit;
	transition: 0.5s;
}

.offsite-link:hover {
	scale: 1.1;
	transition: 0.5s;
}
