@import "_background.scss";
@import "_utility.scss";

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.text-bg-primary,
.bg-success {
	background-color: hsl(240, 30%, 55%) !important;
	font-size: 0.85rem;
}

.badge {
	scale: 1;
	transition: 0.25s;
}

.badge:hover {
	scale: 1.25;
	transition: 0.25s;
}

.clipable {
	background: rgba(0, 0, 0, 0) -webkit-gradient(
			linear,
			left top,
			right top,
			from(#90f3b3),
			color-stop(#90e9f3),
			color-stop(#909ff3),
			color-stop(#cc90f3),
			color-stop(#f390d1),
			color-stop(#f39a90),
			color-stop(#f3e590),
			to(#b8f390)
		) repeat scroll 0% 0%/200% 200%;
	background: rgba(0, 0, 0, 0)
		linear-gradient(
			90deg,
			#90f3b3,
			#90e9f3,
			#909ff3,
			#cc90f3,
			#f390d1,
			#f39a90,
			#f3e590,
			#b8f390
		)
		repeat scroll 0% 0%/200% 200%;
	background-clip: border-box;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.clipable:hover {
	-webkit-animation: GradientAnimation 2s ease infinite;
	animation: GradientAnimation 2s ease infinite;
}

@keyframes GradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 1024px) {
	main {
		display: flex;
		flex-direction: column;
	}

	.h-75 {
		height: fit-content !important;
	}

	article.ms-5 {
		margin-left: 0 !important;
	}

	#about-me {
		order: 1;
	}

	#my-skills {
		order: 2;
	}

	#connect-with-me {
		order: 3;
	}
}
