@import "_background.scss";

* {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 1fr 1fr;
    place-items: center;
}

footer {
    grid-row: 4;
}

header {
    place-self: end;
}

p {
    place-self: start;
}

.headline {
    font-size: 6rem;
    margin: none;
}

.headline > span:first-of-type {
    font-size: 4rem;
    margin: none;
}

.offsite-icon {
    width: 1.75rem;
    height: 1.75rem;
}

.offsite-link {
    text-decoration: none;
    color: inherit;
}

.special-link {
    color: #f6f9ff;
}

.tall-lines {
    line-height: 2rem;
}

nav .quick-navigation {
    list-style-type: '>>  ';
}

aside {
    overflow-y: scroll;
    margin-top: -15vh;
}

aside article {
    width: 20vw;
    float: right;
}

aside article:nth-child(2) {
    width: 20vw;
    float: right;
    margin-top: 12.5vh;
    margin-right: 2rem;
}

article section {
    width: 20vw;
    height: 25vw;
    margin: 2rem 0rem;
}

section {
    background-color: rgb(43, 48, 53, .333);
    border: 3px solid rgb(50, 55, 60, .75);
    transition: .5s;
}

section:hover {
    opacity: 0.75;
    filter: brightness(1.5);
    transition: .5s;
}

.text-justify {
    text-align: justify;
}


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}