@import "_background.scss";
@import "_utility.scss";
@import "_global.scss";

article {
	width: 45ch;
	background-color: rgb(43, 48, 53, 0.333);
	border: 3px solid rgb(50, 55, 60, 0.75);
	transition: 0.5s;

	&:hover {
		opacity: 0.75;
		filter: brightness(1.5);
		transition: 0.5s;
	}
}

@media only screen and (min-width: 1744px) {
	.h-100 {
		height: fit-content !important;
	}
}

dialog {
	border: none;
	background-color: rgb(23, 28, 33, 1);
	animation: fadeIn 0.5s ease-in-out;

	*:focus-visible {
		outline: none;
	}

	&:focus-visible {
		outline: none;
	}
}

::backdrop {
	background-color: rgb(43, 48, 53, 0.75);
	animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

dt {
	margin-top: 1.5rem;
}

.flex-direction-dialog {
	flex-direction: row;
}

.width-dialog {
	width: 75%;
}

.width-extra {
	width: 25%;
}

.width-mobile {
	width: 25%;
}

@media only screen and (max-width: 1200px) {
	.flex-direction-dialog {
		flex-direction: column;
	}

	.width-dialog {
		width: 100%;
	}

	.width-extra {
		width: 100%;
	}

	.margin-dialog {
		margin-top: 2.5rem;
	}

	.width-mobile {
		width: 100%;
	}
}
