* {
	font-family: "M PLUS Rounded 1c", sans-serif;
	--main-clr: hsl(206, 24%, 20%);
	--secondary-clr: hsl(186, 26%, 28%);
	--tertiary-clr: hsl(190, 24%, 35%);
	--accent-primary: hsl(151, 28%, 58%);
	--accent-secondary: hsl(122, 33%, 75%);
}

html,
body {
	background-color: var(--main-clr);
}
