<!DOCTYPE html>
<html class="h-100">
	<head lang="en">
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-DFBTDP9PQ3"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-DFBTDP9PQ3");
		</script>
		<title>Connect 4 - @#TITLE#@ | EKO</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Simple Connect Four game clone made for a school software project."
		/>
		<meta
			name="og:description"
			content="Simple Connect Four game clone made for a school software project."
		/>
		<link
			rel="shortcut icon"
			href="/resources/favicon.ico"
			type="image/x-icon"
		/>
		<link rel="icon" href="/resources/favicon.ico" type="image/x-icon" />
		<link
			rel="stylesheet"
			href="/resources/libs/bootstrap/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="/projects/connect-four/styles/dist/style.css"
		/>
		<script
			type="module"
			src="/resources/libs/bootstrap/js/bootstrap.min.js"
		></script>
		<script
			src="/scripts/dist/connectfour/config.js"
			type="module"
			defer
		></script>
		@#IMPORTS#@
	</head>
	<body data-bs-theme="dark" class="h-100">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<!-- Logo -->
				<a
					class="navbar-brand d-flex align-content-center"
					href="/projects/connect-four/pages/"
				>
					<img
						src="/projects/connect-four/assets/Logo.png"
						alt="Logo"
						width="64"
						height="64"
						class="d-inline-block align-text-top bg-light-subtle rounded-circle p-1"
					/>
					<span class="ms-4 align-self-center fs-3"> Connect Four </span>
				</a>
				<!-- Navbar Toggler -->
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Navbar Links -->
				<div
					class="collapse navbar-collapse justify-content-center align-content-center"
					id="navbarNav"
				>
					<ul
						class="navbar-nav gap-lg-5 text-center gap-4 w-100 justify-content-center"
					>
						<li class="nav-item">
							<a
								id="home-link"
								class="nav-link @#ACTIVE-LOGIN#@"
								aria-current="page"
								href="/projects/connect-four/pages/"
							>
								Home
							</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link @#ACTIVE-MATCHMAKING#@"
								href="/projects/connect-four/pages/waitingroom/"
							>
								Waitingroom
							</a>
						</li>
						<li class="nav-item" id="game-link">
							<a
								class="nav-link @#ACTIVE-GAME#@"
								href="/projects/connect-four/pages/game/"
							>
								Game
							</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link @#ACTIVE-LEADERBOARD#@"
								href="/projects/connect-four/pages/leaderboard/"
							>
								Leaderboard
							</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link @#ACTIVE-TEAM#@"
								href="/projects/connect-four/pages/team/"
							>
								Team
							</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link @#ACTIVE-SETTINGS#@"
								href="/projects/connect-four/pages/settings/"
							>
								Settings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/"> Main Site </a>
						</li>
						<li class="nav-item d-lg-none">
							<a
								class="nav-link"
								href="/projects/connect-four/pages/"
								id="login-mobile"
							>
								Login
							</a>
						</li>
					</ul>
					<!-- Navbar Buttons -->

					<div class="me-lg-5 d-lg-inline-block hide-on-small-screen">
						<a
							class="nav-link me-lg-5"
							href="/projects/connect-four/pages/"
							id="login-large"
						>
							Login
						</a>
					</div>
				</div>
			</div>
		</nav>
		<main class="d-flex w-100 justify-content-center align-items-center pb-5">
			@#CONTENT#@
		</main>
	</body>
</html>
