.chat-container {
	border: 3px solid rgba(0, 0, 0, 0.3);
	border-radius: 0.5rem;
	height: 425px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.3);
}

#user-screen ul,
.chat-container ul {
	text-align: start;
	height: 100%;
	list-style: none;
	overflow: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	margin: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.chat-container ul li {
	margin: 0.75rem 0;
	padding: 1rem;
}

#user-screen button,
.chat-container ul li button {
	text-decoration: none;
	font-weight: 500;
	font-size: 1rem;
	cursor: pointer;
	color: hsl(211, 66%, 65%);
	transition: 0.5s;
	background-color: transparent;
	border: none;
}

#user-screen button,
.chat-container ul li button:hover {
	filter: brightness(0.8);
	transition: 0.5s;
	background-color: transparent;
}

.chat-container ul li span {
	font-weight: 400;
	padding: 1rem;
}

.chat-input {
	padding: 0.5rem;
	border-radius: 1rem;
	width: 80%;
	border: none;
}

.chat-controls {
	margin: 1rem 0;
	display: flex;
	gap: 1rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.user-container button {
	padding: 1rem;
}

.chat-controls .btn {
	font-size: 1.5rem;
	vertical-align: middle;
}

.user-container li {
	margin-top: 1rem;
}

#view-users.active,
#view-chat.active {
	filter: brightness(0.8);
}

#user-screen button.current-user,
#chat-screen button.current-user {
	color: hsl(354, 75%, 60%);
	font-weight: 700;
	cursor: not-allowed;
}

@media screen and (max-width: 800px) {
	#user-screen ul,
	.chat-container ul {
		max-width: 100%;
	}
}
